<?xml version="1.0" ?>

<launch>

  <arg default="$(find rur_detailed_description)/urdf/rur_detailed.xacro" name="model"/>
  <arg default="false" name="gui"/>
  <arg default="$(find rur_detailed_description)/rviz/urdf.rviz" name="rvizconfig"/>

  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->
  
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>

</launch>
